
body{
    background-image: url("money-heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.grid-container{ 
    margin-left: 20px;
    margin-top: 200px;
    text-align: center;
    
}